@import './base.css';

body,
#app {
  height: 100vh;
}

@font-face {
  font-family: 'suxian';
  src: url('/font/suxian.ttf') format('truetype');
}

.font-suxian {
  font-family: 'suxian', Arial, sans-serif;
}