@import './base.css';

body {
  margin:0;
  min-width:1224px;
}

.main {
  min-width: 1224px;
}
#app {
  height: 100vh;
}

@font-face {
  font-family: 'suxian';
  src: url('/font/suxian.ttf') format('truetype');
}

.font-suxian {
  font-family: 'suxian', Arial, sans-serif;
}